# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ไม่เอาไฟล์ไลบรารี
node_modules/

# ไม่เอาไฟล์ Environment Variables (เก็บรหัสผ่าน/Token)
.env

# ไม่เอาไฟล์ที่ Build แล้ว
dist/
build/
.DS_Store
