@import "tailwindcss";


@plugin "daisyui";

/* src/index.css */

/* คลาสเริ่มต้นสำหรับเนื้อหาที่จะถูกซ่อนไว้ก่อน */
/* .reveal-hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: opacity, transform;
}

/* คลาสที่จะถูกเติมเข้าไปเมื่อเลื่อนจอมาถึง */
/* .reveal-visible {
  opacity: 1;
  transform: translateY(0);
} */ 

/* GLOBAL CURSOR POINTER */
button, 
[role="button"], 
.cursor-pointer,
a {
  cursor: pointer !important;
}